.l-navigation {
  display: flex;
}

.l-navigation > * + * {
  margin-left: 0.5rem;
}

$nav-breakpoint:600px;

.navigation {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: medium;
  color: rgba($violet, 0.9);
}

@media (max-width: $nav-breakpoint) {
  .l-navigation {
    flex-wrap: wrap;
    li:first-child {
      margin-left: 0.5rem;
    }
    li {
      margin-top: 0.5rem
    }
  }
}

$footer-nav-breakpoint: 1150px;
.l-footer-nav {
  --footer-nav-display: none;
}

@media (min-width: $footer-nav-breakpoint) {
  .l-footer-nav {
    --footer-nav-display: block;
  }
}

.l-footer-nav {
  display: var(--footer-nav-display);
}
