.l-note-list > * {
  max-width: 60ch;
  .h4 {
    color: rgba($pink, 0.6);
  }
}

.l-note-list > * + * {
  margin-top: 2rem;
}

.l-note-intro {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.l-note-intro > * + * {
  margin-top: 1rem;
}

.note-description {
  font-weight: bold;
  font-size: $SCALE-1;
}

.note-meta {
  color: $COLOR_MID;
  font-size: $SCALE--1;
}

.note-more {
  display: flex;
  flex-direction: column;
}

.read-more {
  text-decoration: underline;
  font-size: $SCALE--1;
}
.read-more:hover,
.read-more:focus {
  text-decoration: none;
}
