$bp-site-head: 600px;

.l-site-head {
  --site-head-flex-basis: 100%;
  --site-head-margin-top: 1rem;
}

@media (min-width: $bp-site-head) {
  .l-site-head > * {
    --site-head-flex-basis: 0;
    --site-head-margin-top: 0;
  }
}

.l-site-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}

.l-site-head > * + * {
  margin-top: var(--site-head-margin-top);
}

.l-site-name {
  display: flex;
  align-items: center;
}

.l-site-name > * {
  flex-shrink: 0;
}

.l-site-name > *:first-child {
  margin-right: 0.5rem;
  margin-left: -3rem;
}

.l-site-name--footer > *:first-child {
  margin-right: 0.5rem;
  margin-left: 0;
}

.l-site-title {
  flex-basis: 100%;
}

.site-title {
  font-size: 1rem;
  line-height: 1.625rem;
}

.l-login {
  display: flex;
  align-items: center;
}

.l-login > * {
  margin-left: 0.5rem;
  flex-basis: 2ch;
  width: 2ch;
  height: 2ch;
}

.l-login-button {
  display: flex;
  justify-content: space-between;
}

.four-o-four {
  height: 300px;
}
