<footer role="contentinfo">
  <div class="theme-secondary theme-bg theme-color">
    <div class="l-container">
      <div class="l-site-footer">
        <div class="l-site-footer-split">
          <div class="l-stack">
            <div class="l-site-name l-site-name--footer">
              {# {% include "partials/icons/logo.svg" %} #}
              <div class="l-site-title site-title">{{ site.name }}</div>
            </div>
            {% if site.shortDesc %}
            <p>{{ site.shortDesc }}</p>
            {% endif %}
          </div>
          <div class="l-footer-nav">
            {% set navLocation = 'footer' %} {% include "partials/nav.html" %}
          </div>
        </div>
        <p class="powered-by">
          Made with ❤️ &copy; {% year %} {{ site.name }} | based on
          <a
            href="https://github.com/madebymike/supermaya"
            target="_blank"
            rel="noopener"
            >Supermaya</a
          >
          starter by
          <a
            href="https://www.madebymike.com.au/"
            target="_blank"
            rel="noopener"
            >Mike</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
