{% extends 'layouts/base.html' %}

{% set introSummary = content | safe %}

{% set noteListHeading = notesHeading %}
{% set noteListItems = collections.notesFeed %}

{% if noteListItems.length < collections.notes.length %}
{% set paginationNextText = allNotesText %}
{% set paginationNextUrl = '/notes' %}
{% endif %}

{% block content %}
<div class="l-stack l-stack--large">
  {% include "partials/intro.html" %}
  {% include "partials/note-list-home.html" %}
  {% include "partials/pagination.html" %}
</div>
{% endblock %}