{% extends 'layouts/base.html' %}

{% set introHeading %}Notes{% endset %}
{% set noteListItems = notes %}

{% if noteListItems.length < collections.notes.length %}
  {% set paginationNextText = 'Next' %}
  {% set paginationNextUrl = pagination.nextPageHref %}
  {% set paginationPrevUrl = pagination.previousPageHref %}
{% endif %}

{% block content %}
  <div class="l-stack l-stack--large l-stack--large">
    {% include "partials/intro.html" %}
    {% include "partials/note-list.html" %}
    {% include "partials/pagination.html" %}
  </div>
{% endblock %}
