{% extends 'layouts/base.html' %}
{% set authorName = author if author else
site.authorName %}
{% set introSummary %}
<div class="l-stack">
  {% if description %}
  <p class="note-description">{{ description | safe }}</p>
  {% endif %}
  <p class="note-meta">
    {% if date %} Written by {{ authorName }} on
    <time datetime="{{ date | w3DateFilter }}" class="dt-published"
      >{{ date | dateFilter }}</time
    >
    {% endif %} (about a {{ helpers.getReadingTime(content) }} minute read).
  </p>
</div>
{% endset %} {% block content %}
<article class="h-entry t-page" class="l-container">
  <div class="l-stack l-stack--large">
    {% include "partials/note-intro.html" %}
    <div class="l-container l-measure">
      <div class="l-stack">
        <div class="speech-controls">
          <button id="listen-btn" class="listen-btn" type="button" aria-label="Listen to this article">
            Listen
          </button>
        </div>
        <div id="blog-content" class="l-stack">{{ content | safe }}</div>
      </div>
    </div>
  </div>
</article>
<div class="l-container">
  <footer class="l-stack">
    {% if tags %}
    <h2>Tags</h2>
    {% endif %}
    <div class="l-note-footer">
      {% if tags %}
      <ul class="l-note-tags">
        {% for item in tags %}
        <li>
          <a class="note-tag" href="/tags/{{ item }}">{{ item }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="l-note">
        {% set randomPost = collections.notes | getRandom %}
      <p><a href="{{randomPost.url}}"><span class='random'>Read a random note 🎲</span></a></p>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
