{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}
{% set pageHeaderSummary %}
<time datetime="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
{% if tags %}
<p class="visually-hidden" id="tags-desc">Tags that this post has been filed under.</p>
<ul class="tags-list list-unstyled" aria-describedby="tags-desc">
  {% for tag in tags %}
  <li>
    <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endset %}

{% block content %}
<article class="wrapper">
  {% include "partials/page-header.html" %}

  <div class="page-content">
    {{ content | safe }}
  </div>
  {% if recommendedPosts %}
  <footer class="recommended-posts">
    {% set postListItems = recommendedPosts %}
    {% set postListHeadline = 'More from the blog' %}
    {% include "partials/post-list.html" %}
  </footer>
  {% endif %}
</article>

{% endblock %}