---
title: "Tag"
layout: "layouts/feed.html"
pagination:
  data: collections
  size: 1
  alias: tag
  filter: ["all", "nav", "post", "posts", "tagList", "postFeed"]
permalink: "/tag/{{ tag | slug }}/"
---

{% extends 'layouts/base.html' %}

{# Intro content #}
{% set introHeading %}Posts{% endset %}

{# Post list content #}
{% set postListHeading %}Posts tagged: “{{ tag }}”{% endset %}
{% set postListItems = collections[tag] %}

{% block content %}

  <div class="l-stack l-stack--large">
    {% include "partials/intro.html" %}
    {% include "partials/post-list.html" %}
    {% include "partials/pagination.html" %}
  </div>
{% endblock %}
