$violet: #19216c;
$yellow: #f7c948;
$green: #51ca58;
$pink: #da127d;
$cyan: #1cd4d4;

$white: #ffffff;
$lighter_grey: #f5f7fa;
$light_grey: #e4e7eb;
$medium_grey: #9aa5b1;
$text_grey: #323f4b;
$dark_grey: #1f2933;

$inc-color-body: scale-color($violet, $lightness: -20%, $saturation: -50%);
// $inc-color-body: $dark_grey;
$inc-color-light: $cyan;

$inc-body-font: "Duru Sans", "Hind Madurai", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
  "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$inc-heading-font: "Oswald", sans-serif;

$inc-strong-font-weight: 900;
$inc-h1-font-size: 4.209rem;
$inc-h2-font-size: 3.157rem;
$inc-h3-font-size: 2.369rem;
$inc-h4-font-size: 1.777rem;
$inc-text-font-size: 1.8rem;
$inc-text-font-size-small: 1.2rem;
$inc-allcaps-font-size: 0.85rem;
