$inc-typography-variants: h1, h2, h3;

@each $type in $inc-typography-variants {
  #{$type},
  .inc-#{$type} {
    font-weight: $inc-strong-font-weight;
    line-height: 1.25;
    margin-bottom: 1rem;
    hyphens: none;
  }
}

h1,
h2,
h3 {
  font-family: $inc-heading-font;
  color: $navy;
  line-height: 1.15;
}

h1,
.inc-h1 {
  font-size: $inc-h1-font-size;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

h2,
.inc-h2 {
  font-size: $inc-h2-font-size;
  margin-bottom: 2rem;
}

h3,
.inc-h3 {
  font-size: $inc-h3-font-size;
}

p,
li {
  font-size: $inc-text-font-size;
  color: $inc-color-body;
  font-family: $inc-body-font;
  font-weight: 400;
}

a {
  color: $navy;
  text-decoration: none;
  &:hover {
    color: $aqua;
  }
}
