.wrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: left;
  padding: 2vh;
  max-width: 1050px;

  ul {
    margin-bottom: 4rem;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
