<div class="theme-secondary theme-bg theme-color">
  <header class="l-container">
    <div class="l-jumbo">
      <h1>{{ introHeading }}</h1>
      {% if introSummary %}
      <div class="l-stack">{{ introSummary | safe }}</div>
      {% endif %}
      <h2 class="h4">Collections</h2>
      <p>
        📕 Sometimes I write down notes for an entire course, class or book.
        These are broken down into several posts.
      </p>
      <ul>
        <li><a href="/tags/missing-semester/">Missing Semester 🔍</a></li>
        <li>
          <a href="/tags/opinionated-react/">The Opinionated Guide to React 💬</a>
        </li>
        <li><a href="/tags/ydkjs/">You Don't Know JS 📚</a></li>
      </ul>
    </div>
  </header>
</div>
