{% set noteListHeadingLevel = 'h3' if noteListHeading else 'h2' %}

{% if noteListItems.length %}
  <section class="l-container l-measure">
    <div class="l-stack">
      {% if noteListHeading %}
        <h2 class="h4">{{ noteListHeading }}</h2>
      {% endif %}
      <ul class="l-note-list" reversed>
        {% for item in noteListItems %}
          <li class="note-stack-item">
            <{{noteListHeadingLevel}} class="h3">
              <a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
            </{{noteListHeadingLevel}}>
            <p>
              <time class="note-stack-date" datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            </p>
            <p>
              {% if item.data.description %}
                {{item.data.description}}
                <a href="{{ item.url }}" aria-hidden="true" class="read-more">Read the rest</a>
              {% endif %}
            </p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}