{% set noteListHeadingLevel = 'h3' if noteListHeading else 'h2' %}
{% if noteListItems.length %}
  <section class="l-container">
    <div class="l-stack">
      {% if noteListHeading %}
        <h2 class="h3">{{ noteListHeading }}</h2>
      {% endif %}
      <ul class="l-note-stack" reversed>
        {% for item in noteListItems %}
          <li class="note-stack-item">
            <{{noteListHeadingLevel}} class="h4">
              <a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a>
            </{{noteListHeadingLevel}}>
            <p>
              <time class="note-stack-date" datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
            </p>
            {% if item.data.description %}
              <p>{{item.data.description}}</p>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}